
#allCountries{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
}
.country{
    margin-left: 30px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #2469c4;
    background-color: #1B1B1B;
    box-shadow: 
    0 0 0 10px hsl(0, 0%, 90%);
}
.countryName{
    color: #E7CA74;
    font-family: 'Open Sans', sans-serif;
}
.capital{
    font-family: 'Righteous', cursive;
    letter-spacing: 1.5px;
    font-weight: bolder;
    background-color: #6CD4C6;
    border-radius: 5px;
    
}